<!DOCTYPE html>
<html>
  <head>
    <title>Projectx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-dark bg-dark justify-content-center">
  <ul class="nav font-weight-bold">
    <li class="nav-item">
      <a class="" href="#">Home</a>
    </li>
  </ul>
    <ul class="nav font-weight-bold">
    <li class="nav-item">
      <a class="" href="#">Sign up</a>
    </li>
  </ul>
    <ul class="nav font-weight-bold">
    <li class="nav-item">
      <a class="" href="#">Sign in</a>
    </li>
  </ul>

  </nav>

    <%= yield %>
  </body>
</html>
